# Introducción a objetos
## Primeros objetos

La funcion que identifica el tipo de objeto es la función `type`

In [1]:
num = 5
saludo = "Hola, mundo!"

In [2]:
print(num)

5

In [3]:
print(saludo)

Hola, mundo!

In [4]:
type(num)

int

In [5]:
type(saludo)

str

In [6]:
#El siguiente codigo verifica si num y saludo son objetos iguales o diferentes.
#El resultado arroja un valor booleano.
type(num)==type(saludo)

False

In [7]:
#Convierte un entero a flotante
float(num)

5.0

In [8]:
str(num)

'5'

In [12]:
num_s =str(num)
print(num_s)

5

In [13]:
type(num_s) == type(saludo)

True

In [17]:
#Vamos a mostrar los elementos de range (10)
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

Listas:

var=[]

In [18]:
lista_1 = [1,"1", 1.0,[2,3]]

In [19]:
type(lista_1)

list

In [22]:
lista_2 = [x for x in range(11)]
print(lista_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]