#CONDICIONALES: IF... ELIF... ELSE

In [ ]:
letra="D"
if letra == "B":
  print("La letra es B")
elif letra == "C":
  print("La letra es C")
elif letra == "A":
  print("La letra es A")
else:
  print("La letra no es A, ni B, ni C")

La letra no es A, ni B, ni C

##Ejemplo 2

In [ ]:
numero= int(input("Escribe un número: "))

Escribe un número: 6

In [ ]:
numero= int(input("Escribe un número: "))

if numero % 2 == 0 and numero % 4 != 0:
  print(f"{numero} es múltiplo de dos")
elif numero % 4 == 0:
  print(f"{numero} es múltiplo cuatro y de dos")
else:
    print(f"{numero} no es múltiplo de dos")

Escribe un número: 6
6 es múltiplo de dos

In [ ]:
animal=int(input("Escribe cuantas mascotas tienes: "))
if animal == 1:
  print(f"{animal} Este numero de animales es adecuado para una casa")
elif animal == 2:
  print(f"{animal} Este numero de animales es adecuado para una casa")
elif animal == 3:
  print(f"{animal} Este numero de animales es adecuado para una casa")
else:
  print(f"{animal} Este numero de animales no es adecuado para una casa ")

Escribe cuantas mascotas tienes: 2
2 Este numero de animales es adecuado para una casa

#Clases y Polimorfismos

In [ ]:
class Mascota:
  def hable(self):
    return NotImplementedError
class Perro(Mascota):
  def hable(self):
    return "Woof"
class Gato(Mascota):
  def hable(self):
    return "Miauu"
class Pez(Mascota):
  def hable(self):
    return "Gluglu"
class Vaca(Mascota):
  def hable(self):
    return "Muu"
class Gallo(Mascota):
  def hable(self):
    return "Quiquiriquí"

In [ ]:
#Vamos a crear una lista de Mascotas
mascotas = [Perro(),Gato(),Vaca(),Pez(),Gallo()]

In [ ]:
for mascota in mascotas:
  print(mascota.hable())

Woof
Miauu
Muu
Gluglu
Quiquiriquí

In [ ]:
class Persona:
  def __init__(self,nombre,edad):
    self.nombre = nombre
    self.edad = edad

In [ ]:
Daniela = Persona("Daniela", 21)

In [ ]:
Daniela.nombre

'Daniela'

In [ ]:
Daniela.edad

NameError: ignored